

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.text-primary{
    color: #FD6E0A;
}
.btn-Primary{
    background: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;

}
.bg-secondary{
    background-color: #FFF8F3;
}

.text-center{
    text-align: center;
}


/* Nav style */

nav{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}
.drak1{
    color:#181818 ;
}
.dark2{
   color: #474747 ;
}
.dark3{
    color: #757575 ;
 }
 .section-title{
    font-size: 35;
    color:#181818 ;
 }
 .section-description{
    font-size:18;
    color: #757575;
    }






nav ul{
 display: flex;
 align-items: center;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;

}

nav ul li{
    list-style: none;
    font-size: 20px;
    color: #474747;
    margin-left: 51px;

} 

nav ul li a{
   text-decoration: none;
   
} 

.header{
    background-image: url(./images/developer.png) , url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Banner Style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.Banner-Grating{
    font-size: 45px;
    font-weight: 600;

}

.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: black;
}
.banner-descrtiption{
   font-size: 18px;
   
}

/* Main Css */
 main{
    max-width: 1140px;
    margin: 0 auto;
    
 }
 main .section{
    margin-top:  130px;
    margin-bottom: 30px;
 }
/* About Css */
.About{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    

}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
.item-title{
    color: #757575 ;
    

}
/* skill-container */
.skill-container{
    display: flex;
    gap: 24px;

}
.skill{
    padding: 30px;
    text-align: justify;
    box-shadow: 0px 6px 50px 0px #ddd9d9 ;
    
}
.skill-description{
    
}